@media (max-width: 590px) {
  .barra, .principal, .mapa-conteudo, .conteudo-beneficios, .video{
      width: auto;
    }
    nav{
       position: static
    
      }
      nav a{
        line-height: 1.2em;
      }

      /* HOME */
    
    .barra{
      text-align: center;
    }  
    .banner{
      height: 50%;
    
    }
    .principal{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    .principal img{
      width: 90%;
      height: 50%;
      
    }
    .titulo-sobre{
      margin-top: 2em;
    }
    .lista-beneficios{
      text-align: justify;
      
    }
    /* PRODUTOS */
      .produtos {
      width: auto;
      
      }
      .produtos li{
        display: block;
        width: 80%;
        margin: 20px 50px;
        
      }
      /* CONTATOS */
      .contato{
        width: auto;
      }
      .input-padrao{
        width: 70%;
      }
      .enviar{
        width: 90%;
      }
     
    }
  
